* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.travel-card {
    position: relative; 
    width: 400px;       
    margin: 50px auto;
    border-radius: 15px;
    overflow: hidden;   
}

.travel-card img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
h1 {
    font-size: 32px;
    margin-bottom: 10px;
}
p {
    font-size: 18px;
    margin-bottom: 20px;
}
.btn-xem {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-more:hover {
    background-color: white;
    color: #333;
}