*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.item{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}   