body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.menu {
  background: #333;
}

.menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; 
}

.menu > ul > li {
  position: relative;
}

.menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
}

.menu > ul > li:hover {
  background: #444;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #222;
  min-width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.submenu li {
  display: block;
  width: 100%;
}

.has-submenu:hover > .submenu {
  display: block;
}
.submenu li:hover {
  background: #555;
}