*{
    margin: 0;
    padding: 0;
}
.box{
    width: 200px;
    height: 100px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: 4px solid rgb(0, 0, 0);
}
.box2{
    background-color: red;
    box-sizing: border-box;
}
.box1{
    background-color: blue;
    box-sizing: content-box;
}
