.product-card {
    position: relative;    
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}

.product-card img {
    width: 100%;
    margin-bottom: 15px;
}
.sale-tag {
    position: absolute;   
    top: 15px;           
    right: 15px;          
    background-color: red;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}
