* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #111; 
    height: 30px;
}

.nav-menu {
    display: flex;
    justify-content: center; 
    list-style: none;
    gap: 20px; 
}

.nav-menu li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;  
}

.nav-menu li a:hover {
    background-color: #ffcc00; 
}

.nav-menu li a.active {
    background-color: #ffcc00;
    color: #000;
}