.color-name {
    color: red;
}
.color-hex {
    color: #0912bf;
}
.color-rgb {
    color: rgb(0, 255, 60);
}
.box {
    background-color: rgb(241, 221, 123);
    border: 2px solid orange;
    justify-content: center;
    display: flex;
    width: 200px;
}