* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 500px;
  height: 300px;
  border: 2px solid black;
  position: relative;
  margin: 30px auto;
}
.box{
  width: 100px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center
}
.box1 {
  background-color: blue;
;
}
.box3 {
  background-color: red;
  position: absolute;
  top: 150px;
  right: 20px;
}

.box2 {
  background-color: green;
  position: relative;
  top: 20px;
  left: 20px;
}
