*{
    margin: 0;
    padding: 0;
}
.div{
    width: 100px;
    margin: 10px;
}
.div:hover{
    background-color: gray;
}
.div1{
    height: 100px;
    background-color: red;
}
.div2{
    height: 100px;
    background-color: blue;
}
.div3{
    height: 100px;
    background-color: green;
}
.div4{
    height: 100px;
    background-color: yellow;
}
