* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-menu {
  margin-top: 20px;
  list-style: none;
  background-color: #333;
  display: inline-flex; /* menu chỉ rộng bằng nội dung*/
}

li {
  position: relative; /* Gốc tọa độ cho dropdown con */
}

a {
  display: block;
  padding: 15px 25px;
  color: white;
  text-decoration: none;
}

li:hover {
  background-color: #555;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
}

.dropdown li a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #f0f0f0;
}

.dropdown li a:hover {
  background-color: #f9f9f9;
  color: blue;
}

/* Hiển thị dropdown khi hover vào li cha */
.has-dropdown:hover .dropdown {
  display: block;
}
